In [1]:
import src.CleaningFunctions as cf
import pandas as pd

In [2]:
#We laod the dataset from a local csv downolaed previously from Kaggle
df_sharks = pd.read_csv("./data/attacks.csv", encoding='ISO-8859-1')

In [3]:
#Lets see what info says about nulls, types, number of columns etc
df_sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [4]:
df_sharks.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [5]:
# We can observe there are a big quatity of null rows
# Lets see a quick view about our dataframe
df_sharks.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

## Delete rows section

In [6]:
# We are going to drop all rows where all columns are Nans
df_sharks.dropna(how="all", inplace=True)

In [7]:
df_sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#From 25723 rows we are keeping 8703
# Wo don't like that last row so lets delete it (25722)
df_sharks = df_sharks.iloc[:-1 , :]
len(df_sharks)

8702

In [9]:
#We can see there are plenty of rows with all NaNs columns and a 0 on "Case Number"
#so we take all rows with that requisites so that we could use this new Data Frame
#to delete this info from our df_sharks DF.

#All conditions that are commented are rows we won't use

nan_0_rows = df_sharks[
              (df_sharks["Case Number"]=='0' )
            & (df_sharks["Date"].isna() )                
            & (df_sharks["Year"].isna() )
            & (df_sharks["Type"].isna() )
            & (df_sharks["Country"].isna()) 
            & (df_sharks["Area"].isna() )
            & (df_sharks["Location"].isna() )
            & (df_sharks["Activity"].isna() )
           # & (df_sharks["Name"].isna() )
            & (df_sharks["Sex "].isna() )
            & (df_sharks["Age"].isna() )
            & (df_sharks["Injury"].isna() )
            & (df_sharks["Fatal (Y/N)"].isna() )
            & (df_sharks["Time"].isna() )
            & (df_sharks["Species "].isna() )
           # & (df_sharks["Investigator or Source"].isna() )
           # & (df_sharks["pdf"].isna() )
           # & (df_sharks["href formula"].isna() )
           # & (df_sharks["href"].isna() )
           # & (df_sharks["Case Number.1"].isna() )
           # & (df_sharks["Case Number.2"].isna() ) 
            ]

In [10]:
# we will have 2400 new rows we are able delete 
nan_0_rows.shape

(2400, 24)

In [11]:
# We concat our dataframe and the the subset weith the NaNs, then with duplicate Keep=False, we drop al the duplicates
#columns
df_sharks  = pd.concat([df_sharks, nan_0_rows]).drop_duplicates(keep=False)

In [12]:
df_sharks.shape

(6302, 24)

### Delete columns section

In [13]:
#We have 3 columns that are very similar, so lets look into it
# 1.- Lets see how many rows of ["Case Number"] are in ["Case Number.1"]
# 2.- Lets see how many rows of ["Case Number1"] are in ["Case Number.2"]

In [14]:
(df_sharks["Case Number"].isin(df_sharks["Case Number.1"])).value_counts()

True     6278
False      24
Name: Case Number, dtype: int64

In [15]:
(df_sharks["Case Number.1"].isin(df_sharks["Case Number.2"])).value_counts()

True     6283
False      19
Name: Case Number.1, dtype: int64

In [16]:
# So we can drop ["Case Number.1"] and ["Case Number.2"] columns
df_sharks.drop(columns=["Case Number.1","Case Number.2"], inplace=True)

In [17]:
#We check how many not null rows there are on ['Unnamed: 22']
df_sharks[df_sharks['Unnamed: 22'].isnull()==False]['Unnamed: 22']

1478    stopped here
Name: Unnamed: 22, dtype: object

In [18]:
#We check how many not null rows there are on ['Unnamed: 22']
df_sharks[df_sharks['Unnamed: 23'].isnull()==False]['Unnamed: 23']

4415             Teramo
5840    change filename
Name: Unnamed: 23, dtype: object

In [19]:
#Just one row with data for each fo the  2 columns, so we procced to drop them
df_sharks.head()
df_sharks.drop(columns=['Unnamed: 22', 'Unnamed: 23'], inplace=True)

In [20]:
#We get some values from ['href formula'] and ['href'] to check if they have
#useful information and we see they are url where pdfs are stored 
#we don't need them

In [21]:
df_sharks['href formula'][0]

'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf'

In [22]:
df_sharks['href'][0]

'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf'

In [23]:
#The info about the pdf url is not important for me so I will drop them.
#We drop other uselss columns at the same time

df_sharks.drop(columns=['href formula', 'href', "Name", 
                        "Investigator or Source", "pdf", "original order"], inplace=True)

In [24]:
# Once we have a general cleaning and all column we may use, we excecute drop_duplicates
#just in case there are duplicates rows
print(df_sharks.shape)
df_sharks = df_sharks.drop_duplicates()
print(df_sharks.shape)

(6302, 14)
(6302, 14)

In [27]:
#We can see there are not duplicates

In [26]:
# Save the cleaned dataSet
df_sharks.to_pickle("df_sharks")